.carousel-caption {
  top: 35%;
  bottom: auto;
  
}
.carousel img {
  height: 85vh;
}




section {
  border-radius: 10px;
}

main {
  overflow: hidden;
}

.explore-elearning {
  background-color: #f4fafd;
  border-radius: 10px;
  
}

.explore-elearning img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}






/* Tablet device */

@media only screen and (min-width:688px) and (max-width:992px) {
  
  .carousel img {
    height: 40vh;
  }


  
}

/* Mobile device */
@media only screen and (max-width:688px) {
  .carousel-caption {
    top: 12%;
    bottom: auto;
  }

  .carousel img {
    height: 50vh;
  }
  .explore-elearning img {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
  

}