.carousel-caption {
  top: 35%;
  bottom: auto;
  
}
.slider-carousel img {
  height: 85vh;
}




section {
  border-radius: 10px;
}

main {
  overflow: hidden;
}

.explore-elearning {
  background-color: #f4fafd;
  border-radius: 10px;
  
}

.explore-elearning img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


.ratings {
  margin-right: 10px;
}

.ratings i {

  color: #cecece;
  font-size: 12px;
}

.rating-color {
  color: #fbc634 !important;
}

.review-quote {
  color: #d2d2d2;
  font-size: 30px;
}

.reviewer {
  height: 50px;
  width: 50px;
}

.review .carousel-control-prev-icon,
.review .carousel-control-next-icon {
  height: 50px;
  width: 50px;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid mone;
  background-image: none;
  background-color: #118fe9;

}


.review .carousel-control-next-icon:after {
  content: '>';
  font-size: 30px;
  color: #fff;
  background-color: #289bde;
}

.review .carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: #fff;
  background-color: #289bde;
  
}


/* 

/* Tablet device */

@media only screen and (min-width:688px) and (max-width:992px) {
  
  .slider-carousel img {
    height: 40vh;
  }


  
}

/* Mobile device */
@media only screen and (max-width:688px) {
  .carousel-caption {
    top: 12%;
    bottom: auto;
  }

  .slider-carousel img {
    height: 50vh;
  }
  .explore-elearning img {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
  

}